@{
    ViewBag.Title = "Admin Home Page";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Administrator Home Page</h1>

<div id="admin-menu">
    <ul>
        <li>@Html.ActionLink("Manage Examiners", "Index", "Examiner")</li>
        <li>@Html.ActionLink("Manage Theory Exam Formats", "Index", "TheoryFormat")</li>
        <li>@Html.ActionLink("Manage Theory Questions - Pilot", "IndexPilot", "QuestionManagement")</li>
        <li>@Html.ActionLink("Manage Theory Questions - Packer", "IndexPacker", "QuestionManagement")</li>
        <li>@Html.ActionLink("Manage Pilot Assessment Tasks", "Index", "AssessmentTask")</li>
        <li>@Html.ActionLink("Manage Practical Templates - Pilot", "Index", "PracticalTemplatePilot")</li>
        <li>@Html.ActionLink("Manage Practical Templates - Packer", "Index", "PracticalTemplatePacker")</li>
    </ul>
</div>