@model APFTestingUI.Models.Candidate.CreatePacker

@{
    ViewBag.Title = "Packer Registration";
}

<h1>Packer Registration</h1>
<p>Please fill in the fields below to create a new Packer Candidate.<br />Asterisks (*) are placed next to required fields.</p>
@using (Html.BeginForm()) {
    @Html.ValidationSummary(true)
    @Html.AntiForgeryToken()

    <fieldset>
        <legend>Create Packer</legend>

        <div class="editor-label">
            @Html.LabelFor(model => model.FirstName) <em>*</em>
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.FirstName)
            @*@Html.ValidationMessageFor(model => model.FirstName)*@
        </div>
        <div class="clear"></div>

        <div class="editor-label">
            @Html.LabelFor(model => model.LastName) <em>*</em>
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.LastName)
            @*@Html.ValidationMessageFor(model => model.LastName)*@
        </div>
        <div class="clear"></div>

        <div class="editor-label">
            @Html.LabelFor(model => model.Mobile) <em>*</em>
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Mobile)
            @*@Html.ValidationMessageFor(model => model.Mobile)*@
        </div>
        <div class="clear"></div>

        <div class="editor-label">
            @Html.LabelFor(model => model.APFNumber) <em>*</em>
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.APFNumber)
            @*@Html.ValidationMessageFor(model => model.APFNumber)*@
        </div>
        <div class="clear"></div>

        <p class="button-container">
            <span class="home-button-span">@Html.ActionLink("Home", "Index", "Examiner", new {}, new { @class="examiner-button"})</span>
            <span class="control-button-span">
                <input type="reset" value="Reset" class="form-button" />
                <input type="submit" value="Create" class="form-button" />
            </span>
        </p>
    </fieldset>
}

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
