@model APFTestingUI.Models.Candidate.EditPacker

@{
    ViewBag.Title = "Edit - Packer";
}

<h1>Edit Packer</h1>

@using (Html.BeginForm()) {
    @Html.ValidationSummary(true)

    <fieldset>
        <legend>Edit Packer</legend>

        <div class="editor-label">
            @Html.LabelFor(model => model.FirstName) <em>*</em>
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.FirstName)
            @*@Html.ValidationMessageFor(model => model.FirstName)*@
        </div>
        <div class="clear"></div>

        <div class="editor-label">
            @Html.LabelFor(model => model.LastName) <em>*</em>
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.LastName)
            @*@Html.ValidationMessageFor(model => model.LastName)*@
        </div>
        <div class="clear"></div>

        <div class="editor-label">
            @Html.LabelFor(model => model.Mobile) <em>*</em>
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Mobile)
            @*@Html.ValidationMessageFor(model => model.Mobile)*@
        </div>
        <div class="clear"></div>

        <div class="editor-label">
            @Html.LabelFor(model => model.APFNumber) <em>*</em>
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.APFNumber)
            @*@Html.ValidationMessageFor(model => model.APFNumber)*@
        </div>
        <div class="clear"></div>

        <p class="button-container">
            <input type="submit" value="Save" class="form-submit" />
        </p>
    </fieldset>
}


@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
