@model APFTestingUI.Models.Candidate.ViewPacker

@{
    ViewBag.Title = "View - Packer";
}

<h1>View Packer</h1>

<fieldset>
    <legend>View Packer</legend>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.FirstName)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.FirstName)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.LastName)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.LastName)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Mobile)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Mobile)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.APFNumber)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.APFNumber)
    </div>
</fieldset>
<p class="button-container">
    @Html.ActionLink("Edit", "EditPacker", new { candidateId = Model.Id }, new { @class="button-submit" })
</p>
