@model APFTestingUI.Models.Candidate.ViewPacker

@{
    ViewBag.Title = "Candidate Details";
}

<h1>Candidate Details</h1>
<div class="candidate-view">
    <div class="display-label">
         @Html.DisplayNameFor(model => model.FirstName)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.FirstName)
    </div>
    <div class="clear"></div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.LastName)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.LastName)
    </div>
    <div class="clear"></div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Mobile)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Mobile)
    </div>
    <div class="clear"></div>


    <div class="display-label">
         @Html.DisplayNameFor(model => model.APFNumber)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.APFNumber)
    </div>
    <div class="clear"></div>

</fieldset>
<p class="button-container">
    @Html.ActionLink("Edit", "EditPacker", new { candidateId = Model.Id }, new { @class="button-submit examinerButton" })
</p>
</div>