@model APFTestingUI.Models.Candidate.ViewPilot

@{
    ViewBag.Title = "Candidate Details";
}
<div class="candidate-view">
<h1 class="candidate-heading">Candidate Details</h1>
    <div class="display-label">
         @Html.DisplayNameFor(model => model.FirstName)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.FirstName)
    </div>
    <div class="clear"></div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.LastName)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.LastName)
    </div>
    <div class="clear"></div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.DateOfBirth)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.DateOfBirth)
    </div>
    <div class="clear"></div>

    <div class="display-label">
        Address
    </div>
    <div class="display-field">
        @Model.Address1<br />
        @if (Model.Address2 != "")
        {
            @Model.Address2<br />
        }
        @Model.Suburb, @Model.State, @Model.Postcode
    </div>
    <div class="clear"></div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.ARN)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.ARN)
    </div>
    <div class="clear"></div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Phone)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Phone)
    </div>
    <div class="clear"></div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Mobile)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Mobile)
    </div>
    <div class="clear"></div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Email)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Email)
    </div>
    <div class="clear"></div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.PilotLicenceType)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.PilotLicenceType)
    </div>
    <div class="clear"></div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.InstrumentRating)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.InstrumentRating)
    </div>
    <div class="clear"></div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.PilotMedical)
    </div>
    <div class="display-field">
        @{
            var strPilotMedical = Model.PilotMedical.ToString();
            var pilotMedical = strPilotMedical[0] + "";
            for (int i = 1; i < strPilotMedical.Length; i++)
            {
                if (char.IsUpper(strPilotMedical[i]))
                {
                    pilotMedical += " ";
                }
                pilotMedical += strPilotMedical[i];
            }
            @pilotMedical
        }
    </div>
    <div class="clear"></div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.PilotMedicalExpiry)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.PilotMedicalExpiry)
    </div>
    <div class="clear"></div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.ValidBFR)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.ValidBFR)
    </div>
    <div class="clear"></div>
<p class="button-container">
    <span class="home-button-span">@Html.ActionLink("Home", "Index", "Examiner", new {}, new { @class="examiner-button"})</span>
    <span class="control-button-span">
        @Html.ActionLink("Edit", "EditPilot", new { candidateId = Model.Id }, new { @class="form-button" })
    </span>
</p>
</div>