@model APFTestingUI.Models.LoginModel

@{
    ViewBag.Title = "Log in";
}

<hgroup class="title">
    <h1>@ViewBag.Title</h1>
</hgroup>

<section id="loginForm">

@using (Html.BeginForm(new { ReturnUrl = ViewBag.ReturnUrl })) {
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true)

    <div class="editor-label">
        @Html.LabelFor(m => m.UserName)
    </div>
    <div class="editor-field">
        @Html.TextBoxFor(m => m.UserName, new { autofocus = "autofocus" })
    </div>
    <div class="clear"></div>
    
    <div class="editor-label">
        @Html.LabelFor(m => m.Password)
    </div>
    <div class="editor-field">
        @Html.PasswordFor(m => m.Password)
    </div>
    <div class="clear"></div>
    
    <div class="editor-label">
        @Html.LabelFor(m => m.RememberMe)
    </div>
    <div class="editor-field">
        @Html.CheckBoxFor(m => m.RememberMe)
    </div>
    <div class="clear"></div>
    
    <p class="button-container">
        <input type="submit" value="Log in" class="form-button" />
    </p>
}
</section>


@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
    <script>
        $(function(){
            jQuery.browser = {};
            (function () {
                    jQuery.browser.msie = false;
                    jQuery.browser.version = 0; if (navigator.userAgent.match(/MSIE ([0-9]+)\./)) {
                    jQuery.browser.msie = true; jQuery.browser.version = RegExp.$1;
                }
            })();
            if ($.browser.version < 10 && $.browser.version > 0) {
                $('#ieDetected').show();
            }
        });
    </script>
}
