@model APFTestingUI.Areas.Administration.Models.PracticalTemplatePacker.Create

@{
    ViewBag.Title = "Create Packer Practical Template";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Create</h1>

@using (Html.BeginForm()) {
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(false)

    <fieldset>
        <legend>Create</legend>

        <div class="editor-label">
            @Html.LabelFor(model => model.NumOfRequiredAssessmentTasks)
        </div>
        <div class="editor-field">
            @Html.TextBoxFor(model => model.NumOfRequiredAssessmentTasks, new { type = "number" })
            @Html.ValidationMessageFor(model => model.NumOfRequiredAssessmentTasks)
        </div>
        <div class="clear"></div>
        
        <br/>
        @Html.ActionLink("Cancel", "Index", new { }, new { @class = "form-button" })
        <input type="submit" value="Create" class="form-button" />
    </fieldset>
}

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
