@model APFTestingUI.Areas.Administration.Models.PracticalTemplatePacker.Edit

@{
    ViewBag.Title = "Edit Packer Practical Template";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Edit Packer Practical Template</h1>

@using (Html.BeginForm()) {
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(false)

    <fieldset>
        <legend>Edit</legend>

        @Html.HiddenFor(model => model.Id)

        <div class="editor-label">
            @Html.LabelFor(model => model.NumOfRequiredAssessmentTasks)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.NumOfRequiredAssessmentTasks)
            @Html.ValidationMessageFor(model => model.NumOfRequiredAssessmentTasks)
        </div>
        <div class="clear"></div>

        <p class="button-container">
            <input type="submit" value="Save" class="form-button" />
        </p>
    </fieldset>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
