@model APFTestingUI.Areas.Administration.Models.AssessmentTaskManagement.CreateAssessmentTask

@{
    ViewBag.Title = "Create Assessment Task";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Create a new Pilot Practical Assessment Task </h1>

@using (Html.BeginForm()) {
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true)

    <fieldset>
        <legend>Create Assessment Task</legend>

        <div class="editor-label">
            @Html.LabelFor(model => model.Title) <em>*</em>
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Title)
            @Html.ValidationMessageFor(model => model.Title)
        </div>
        <div class="clear"></div>

        <div class="editor-label">
            @Html.LabelFor(model => model.Details) <em>*</em>
        </div>
        <div class="editor-field">
            @Html.TextAreaFor(model => model.Details)
            @Html.ValidationMessageFor(model => model.Details)
        </div>
        <div class="clear"></div>

        <div class="editor-label">
            @Html.LabelFor(model => model.MaxScore) <em>*</em>
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.MaxScore)
            @Html.ValidationMessageFor(model => model.MaxScore)
        </div>
        <div class="clear"></div>


        <p class="button-container">
            @Html.ActionLink("Cancel", "Index", new { }, new { @class = "form-button" })
            <input class="form-button" type="submit" value="Create" />
        </p>
    </fieldset>
}

<div>
    
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
