@model APFTestingUI.Areas.Administration.Models.AssessmentTaskManagement.AssessmentTaskItem

@{
    ViewBag.Title = "Assessment Task Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<style>
    #Assessment-Task-Details-View label
    {
        float: left;
        width: 120px;
        font-weight: bold;
    }

    #Assessment-Task-Details-View span
    {
        float: left;
        max-width: 600px;
        margin-bottom: 1em;
    }

    #Assessment-Task-Details-View .links
    {
        margin-top:2em;
    }
</style>


<div id="Assessment-Task-Details-View">
    <h1>Assessment Task Details</h1>

    @Html.HiddenFor(m => m.Id)

    @Html.LabelFor(m => m.Title) <span>@Html.DisplayFor(m => m.Title)</span>
    <div class="clear"></div>

    @Html.LabelFor(m => m.Details) <span>@Html.DisplayFor(m => m.Details)</span>
    <div class="clear"></div>

    @Html.LabelFor(m => m.MaxScore) <span>@Html.DisplayFor(m => m.MaxScore)</span>
    <div class="clear"></div>


    <p class="links">@Html.ActionLink("Back to List","Index", new { }, new { @class = "form-button" })
        @if (Model.Editable) {
            @Html.ActionLink("Edit", "Edit", new { id = Model.Id }, new { @class = "form-button" });
            @Html.ActionLink("Delete", "Delete", new { id = Model.Id }, new { @class="form-button delete"});
        }
    </p>

</div>


@section Scripts {
    <script src="~/Scripts/administration.js"></script>
}
