@model APFTestingUI.Areas.Administration.Models.AssessmentTaskManagement.AssessmentTaskList
@{
    ViewBag.Title = "Assessment Task Management";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<style>
    #Assessment-Tasks-List {
    }
    
    #Assessment-Tasks-List .Assessment-Task-Title {
        width: 20%;
    }

    #Assessment-Tasks-List .Assessment-Task-Details {
        width: 40%;
    }

    #Assessment-Tasks-List .Assessment-Task-Max-Score {
        width: 10%;
        text-align: center;
    }

    #Assessment-Tasks-List .Assessment-Task-Actions {
        width: 20%;
    }

</style>
<h2>Assessment Task Management</h2>
<p>
    @Html.ActionLink("Create New Assessment Task", "Create")
</p>
<table id="Assessment-Tasks-List">
    <tr>
        <th>Title</th>
        <th>Details</th>
        <th>Max Score</th>
        <th>&nbsp;</th>
    </tr>

@foreach (var item in Model.AssessmentTasks)
{
    <tr>
        <td class="Assessment-Task-Title">@item.Title</td>
        <td class="Assessment-Task-Details">@item.Details</td>
        <td class="Assessment-Task-Max-Score">@item.MaxScore</td>
        <td class="Assessment-Task-Actions">
            @Html.ActionLink("Details", "Details", new { id=item.Id })
            @if(item.Editable) 
            {
                @:&nbsp;|&nbsp; 
                @Html.ActionLink("Edit", "Edit", new { id=item.Id })
                @:&nbsp;|&nbsp;
                @Html.ActionLink("Delete", "Delete", new { id=item.Id })
            }
        </td>
    </tr>
}

</table>
