@model APFTestingUI.Areas.Administration.Models.AssessmentTaskManagement.AssessmentTaskList
@{
    ViewBag.Title = "Assessment Task Management";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<style>
    #Assessment-Tasks-List {
    }
    
    #Assessment-Tasks-List td.Assessment-Task-Title {
        width: 20%;
    }

    #Assessment-Tasks-List td.Assessment-Task-Details {
        width: 50%;
    }

    #Assessment-Tasks-List th.Assessment-Task-Max-Score {
        text-align: center;
    }

    #Assessment-Tasks-List td.Assessment-Task-Max-Score {
        width: 10%;
        text-align: center;
    }

    #Assessment-Tasks-List td.Assessment-Task-Actions {
        width: 20%;
        padding-left: 30px;
    }

</style>
<h1>Pilot Assessment Task Management</h1>

@Html.ActionLink("Add New Task", "Create", new { }, new { @class = "button-add" })
<br />
<br />

<table id="Assessment-Tasks-List">
    <tr>
        <th class="Assessment-Task-Title">Title</th>
        <th class="Assessment-Task-Details">Details</th>
        <th class="Assessment-Task-Max-Score">Max Score</th>
        <th class="Assessment-Task-Actions">&nbsp;</th>
    </tr>

@foreach (var item in Model.AssessmentTasks)
{
    <tr>
        <td class="Assessment-Task-Title">@item.Title</td>
        <td class="Assessment-Task-Details">@item.Details</td>
        <td class="Assessment-Task-Max-Score">@item.MaxScore</td>
        <td class="Assessment-Task-Actions">
            @Html.ActionLink("Details", "Details", new { id=item.Id })
            @if(item.Editable) 
            {
                @:&nbsp;|&nbsp;
                @Html.ActionLink("Edit", "Edit", new { id=item.Id })
                @:&nbsp;|&nbsp;
                @Html.ActionLink("Delete", "Delete", new { id = item.Id }, new { @class="delete"})
            }
            else
            {
                @:&nbsp;| &nbsp;Edit&nbsp; |&nbsp; Delete
            }
        </td>
    </tr>
}

</table>


@section Scripts {
    <script src="~/Scripts/administration.js"></script>
}