@model APFTestingUI.Models.Practical.PackerView

@{
    ViewBag.Title = "Demonstrated Packs";
}

<h1>Demonstrated Packs</h1>

<table id="tbl-demonstrated-packs">
    <thead>
        <tr>
            <th class="th-date">Date</th>
            <th class="th-canopy-type">Canopy Type</th>
            <th class="th-canopy-serial-no">Canopy Serial No.</th>
            <th class="th-harness-type">Harness / Container Type</th>
            <th class="th-harness-serial-no">Harness / Container Serial No.</th>
            <th class="th-notes">Notes</th>
            <th class="th-instructor-no">Instructor / Rigger No.</th>
            <th class="th-edit-button"></th>
        </tr>
    </thead>
    <tbody>
@{
    var rowCounter = 0;
}
@foreach (var p in Model.Packs)
{
    var rowStyle = rowCounter % 2 == 0 ? "row-even" : "row-odd";
    <tr class="@rowStyle middle @rowCounter">
        <td>@p.Date</td>
        <td>@if (p.CanopyType.Equals("RamAir"))
            {
                @:Ram-Air
            }
            else
            {
                @p.CanopyType
            }
        </td>
        <td>@p.CanopyTypeSerialNumber</td>
        <td>@p.HarnessContainerType</td>
        <td>@p.HarnessContainerSerialNumber</td>
        <td>@p.Note</td>
        <td>@p.SupervisorId</td>
        <td>@Html.ActionLink("Edit", "PackerEdit", new { taskId = @p.Id, examId = @Model.ExamId }, new { @class = "examiner-button" })</td>
    </tr>
    rowCounter++;
}
    </tbody>
</table>

<p style="padding-right:15px; font-size:1em; margin-top:25px;padding-bottom:15px;">
    <span class="home-button-span">@Html.ActionLink("Home", "Index", "Examiner", new {}, new { @class="examiner-button"})</span>
    <span class="control-button-span">
        @if (Model.IsCompetent)
        {
            @Html.ActionLink("Submit", "PackerSubmit", new { examId = @Model.ExamId }, new { @class = "examiner-button" })
        }
        
        @Html.ActionLink("Add", "PackerInput", new { examId = @Model.ExamId }, new { @class = "examiner-button" })
    </span>
</p>
