@model APFTestingUI.Models.Practical.PackerView

@{
    ViewBag.Title = "Demonstrated Packs";
}

<h1>Demonstrated Packs</h1>

<table id="tbl-demonstrated-packs">
    <thead>
        <tr>
            <th class="th-date">Date</th>
            <th class="th-canopy-type">Canopy Type</th>
            <th class="th-canopy-serial-no">Canopy Serial No.</th>
            <th class="th-harness-type">Harness / Container Type</th>
            <th class="th-harness-serial-no">Harness / Container Serial No.</th>
            <th class="th-notes">Notes</th>
            <th class="th-instructor-no">Instructor / Rigger No.</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@{
    var rowCounter = 0;
}
@foreach (var p in Model.Packs)
{
    var rowStyle = rowCounter % 2 == 0 ? "row-even" : "row-odd";
    <tr class="@rowStyle middle @rowCounter">
        <td>@p.Date</td>
        <td>@p.CanopyType</td>
        <td>@p.CanopyTypeSerialNumber</td>
        <td>@p.HarnessContainerType</td>
        <td>@p.HarnessContainerSerialNumber</td>
        <td>@p.Note</td>
        <td>@p.SupervisorId</td>
        <td>@Html.ActionLink("Edit", "PackerEdit", new { taskId = @p.Id, examId = @Model.ExamId }, new { @class = "examinerButton" })</td>
    </tr>
    rowCounter++;
}
    </tbody>
</table>

<p style="padding-right:15px;">
    <span class="home-button-span">@Html.ActionLink("Home", "Index", "Examiner", new {}, new { @class="examinerButton"})</span>
    <span class="control-button-span">
        @Html.ActionLink("Add", "PackerInput", new { examId = @Model.ExamId }, new { @class = "examinerButton" })
    </span>
</p>
