@model APFTestingUI.Models.Practical.PilotView

@{
    ViewBag.Title = "Pilot Practical Results";
}

<h1>Pilot Practical Results</h1>

<div id="score">Score: @Model.TotalScore out of @Model.TotalMaxScore</div>

<br />
<br />

@foreach (var task in Model.Tasks)
{
    <table>
        <tr class="row-even">
            <td>@task.Details</td>
        </tr>
        <tr class="row-odd">
            <td style="padding-left:30px;">@task.Comment</td>
        </tr>
        <tr class="row-even">
            <td style="padding-left:30px;">@task.Score out of @task.MaxScore</td>
        </tr>
    </table>
    <hr />
}

<p>
    @Html.ActionLink("Edit", "PilotInput", new { examId = Model.ExamId, candidateId = Model.CandidateId }, new { @class = "examinerButton" })
    @Html.ActionLink("Submit", "FinalisePractical", new { examId = Model.ExamId }, new { @class = "examinerButton" })
</p>
