@model APFTestingUI.Models.Practical.PilotInput

@{
    ViewBag.Title = "Pilot Practical";
}

<h1>Practical exam input</h1>

@using (Html.BeginForm("PilotInput", "Practical", new { candidateId = Model.CandidateId}, FormMethod.Post, new { id = "form-pilot-practical" }))
{
    @Html.HiddenFor(model => model.CandidateId)
    @Html.HiddenFor(model => model.ExamId)
    <table>
        <thead>
            <tr>
                <th class="th-detail">Detail</th>
                <th class="th-comments">Comments</th>
                <th class="th-score">Score</th>
            </tr>
        </thead>
        <tbody>
            @for (var i = 0; i < Model.Tasks.Count; i++)
            {
                    <tr>
                        <td class="td-detail">
                            <h3 class="title">@Html.EditorFor(model => model.Tasks[i].Title)</h3>
                            <p class="description">@Html.EditorFor(model => model.Tasks[i].Details)</p>
                            <p class="max-score">@Html.EditorFor(model => model.Tasks[i].MaxScore) Points</p>
                            @Html.EditorFor(model => model.Tasks[i].Id)
                            
                        </td>
                        <td class="td-comments">
                            @Html.TextAreaFor(model => model.Tasks[i].Comment)
                        </td>
                        <td class="td-score">
                            @Html.TextBoxFor(model => model.Tasks[i].Score, new { type = "number" })
                        </td>
                    </tr>
                    
            }
        </tbody>
    </table>
    
    <p class="button-container">
        <span class="home-button-span">@Html.ActionLink("Home", "Index", "Examiner", new {}, new { @class="form-submit"})</span>
        <span class="control-button-span">
            <input type="submit" value="Submit" class="examinerButton"/>
        </span>
    </p>
}

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}