@model APFTestingUI.Models.Practical.PilotInput

@{
    ViewBag.Title = "Pilot Practical";
}

<h2>Practical exam input</h2>

@using (Html.BeginForm())
{
    @Html.HiddenFor(model => model.CandidateId)
    @Html.HiddenFor(model => model.ExamId)
    <table>
        <thead>
            <tr>
                <td>Detail</td>
                <td>Comments</td>
                <td>Score</td>
            </tr>
        </thead>
        <tbody>
            @for (var i = 0; i < Model.Tasks.Count; i++)
            {
                    <tr>
                        <td>
                            <div>@Html.EditorFor(model => model.Tasks[i].Title)</div>
                            <div>@Html.EditorFor(model => model.Tasks[i].Details)</div>
                            <div>@Html.EditorFor(model => model.Tasks[i].MaxScore) Points</div>
                            @Html.EditorFor(model => model.Tasks[i].Id)
                            
                        </td>
                        <td>
                            @Html.TextAreaFor(model => model.Tasks[i].Comment)
                        </td>
                        <td>
                            @Html.TextBoxFor(model => model.Tasks[i].Score, new { type = "number" })
                        </td>
                    </tr>
                    
            }
        </tbody>
    </table>
    
    <input type="submit" value="Submit"/>
}

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}