@model APFTestingUI.Models.Practical.PilotView

@{
    ViewBag.Title = "Pilot Practical Results";
}

<h1>Pilot Practical Results</h1>

<div id="score">Score: @Model.TotalScore out of @Model.TotalMaxScore</div>

<br />
<br />

<table id="table-practical-pilot-view">
    <thead>
        <tr>
            <th class="th-detail">Detail</th>
            <th class="th-comments">Comments</th>
            <th class="th-score">Score</th>
        </tr>
    </thead>
    <tbody>
    @foreach (var task in Model.Tasks)
    {
        <tr>
            <td class="td-detail">
                <h3 class="title">@task.Title</h3>
                <p class="description text-justify">@task.Details</p>
                <p class="max-score">@task.MaxScore</p>
            </td>
            <td class="td-comments text-justify">@task.Comment</td>
            <td class="td-score">@task.Score</td>
        </tr>
        
    }
    </tbody>
</table>

<p>
    @Html.ActionLink("Edit", "PilotInput", new { examId = Model.ExamId, candidateId = Model.CandidateId }, new { @class = "examinerButton" })
    @Html.ActionLink("Submit", "FinalisePractical", new { examId = Model.ExamId }, new { @class = "examinerButton" })
</p>
