@model APFTestingUI.Areas.Administration.Models.TheoryFormat.Index

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<h1>Theory Exam Format Management</h1>

@Html.ActionLink("Add new format", "Create")<br /><br/>

<h3>Pilot Formats</h3>
<table>
    <thead>
        <tr>
            <th>Active</th>
            <th>Number of Questions</th>
            <th>Pass Mark</th>
            <th>Time Limit</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var format in Model.PilotFormats)
        {

            <tr>
                <td>@format.IsActive</td>
                <td>@format.NumberOfQuestions</td>
                <td>@format.PassMark</td>
                <td>@format.TimeLimit</td>
                <td>
                    @if (format.AllowEditOrDelete)
                    {
                        @Html.ActionLink("Edit", "Edit", new { formatId = format.Id })
                        <text>|</text>
                        @Html.ActionLink("Delete", "Delete", new { formatId = format.Id }, new { @class = "delete" })
                    }
                    @if (!format.IsActive)
                    {
                        <text>|</text>
                        @Html.ActionLink("Activate", "Activate", new { formatId = format.Id }, new { @class = "activate" })
                    }
                </td>
            </tr>
        }
    </tbody>
</table>

<h3>Packer Formats</h3>
<table>
    <thead>
        <tr>
            <th>Active</th>
            <th>Number of Questions</th>
            <th>Pass Mark</th>
            <th>Time Limit</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var format in Model.PackerFormats)
        {

            <tr>
                <td>@format.IsActive</td>
                <td>@format.NumberOfQuestions</td>
                <td>@format.PassMark</td>
                <td>@format.TimeLimit</td>
                <td>
                    @if (format.AllowEditOrDelete)
                    {
                        @Html.ActionLink("Edit", "Edit", new { formatId = format.Id })
                        <text>|</text>
                        @Html.ActionLink("Delete", "Delete", new { formatId = format.Id }, new { @class = "delete" })
                    }
                    @if (!format.IsActive)
                    {
                        <text>|</text>
                        @Html.ActionLink("Activate", "Activate", new { formatId = format.Id }, new { @class = "activate" })
                    }
                </td>
            </tr>
        }
    </tbody>
</table>

@section scripts
{
    <script src="~/Scripts/administration.js"></script>
}
