@model APFTestingUI.Areas.Administration.Models.PracticalTemplatePilot.Index

@{
    ViewBag.Title = "Pilot Practical Templates";
    Layout = "~/Views/Shared/_Layout.cshtml";
    
}

<h1>Pilot Practical Templates</h1>

@Html.ActionLink("Add new template", "Create")<br /><br/>

<table>
    <thead>
        <tr>
            <th></th>
            <th>Active</th>
            <th>Tasks</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @{
            var rowNumber = 1;
         }
        @for (int i = 0; i < Model.Templates.Count; i++)
        {
            <tr>
                <td>@rowNumber</td>
                <td>@Model.Templates[i].IsActive</td>
                <td class="toggle"><span>Click to expand Tasks</span><br />
                    <ul class="hidden tasks">
                        @for (int j = 0; j < Model.Templates[i].Tasks.Count; j++)
                        {
                            <li>@Model.Templates[i].Tasks[j].Title</li>
                        }
                    </ul>
                </td>
                <td>
                    @Html.ActionLink("Display", "Display", new { templateId = Model.Templates[i].Id }) |
                    @if (Model.Templates[i].AllowEditOrDelete)
                    {
                        @Html.ActionLink("Edit", "Edit", new { templateId = Model.Templates[i].Id })
                        <text>|</text>
                        @Html.ActionLink("Delete", "Delete", new { templateId = Model.Templates[i].Id }, new { @class = "template-delete" })
                    }
                    @if (!Model.Templates[i].IsActive)
                    {
                        <text>|</text>
                        @Html.ActionLink("Activate", "Activate", new { templateId = Model.Templates[i].Id }, new { @class = "template-activate" })
                    }
                </td>
            </tr>
            rowNumber++;
        }
    </tbody>
</table>

@section scripts {
    <script src="~/Scripts/practical-template.js"></script>
}