@model APFTestingUI.Areas.Administration.Models.PracticalTemplatePilot.Index

@{
    ViewBag.Title = "Pilot Practical Templates";
    Layout = "~/Views/Shared/_Layout.cshtml";
    
}

<h1>Pilot Practical Templates</h1>

@Html.ActionLink("Add new template", "Create")<br /><br/>

<table>
    <thead>
        <tr>
            <th></th>
            <th>Active</th>
            <th>Tasks</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @{
            var rowNumber = 1;
         }
        @foreach (var template in Model.Templates)
        {
            <tr>
                <td>@rowNumber</td>
                <td>@template.IsActive</td>
                <td id="toggle"><span>Click to expand Tasks</span><br />
                    <ul class="hidden tasks">
                        @foreach (var task in template.Tasks)
                        {
                            <li>@task.Title</li>
                        }
                    </ul>
                </td>
                <td>
                    @if (template.AllowEditOrDelete)
                    {
                        @Html.ActionLink("Edit", "Edit", new { templateId = template.Id })
                        <text>|</text>
                        @Html.ActionLink("Delete", "Delete", new { templateId = template.Id }, new { @class = "template-delete" })
                    }
                    @if (!template.IsActive)
                    {
                        <text>|</text>
                        @Html.ActionLink("Activate", "Activate", new { templateId = template.Id }, new { @class = "template-activate" })
                    }
                </td>
            </tr>
            rowNumber++;
        }
    </tbody>
</table>

@section scripts {
    <script src="~/Scripts/practical-template.js"></script>
}