@model APFTestingUI.Areas.Administration.Models.PracticalTemplatePilot.Index

@{
    ViewBag.Title = "Pilot Practical Template Management";
    Layout = "~/Views/Shared/_Layout.cshtml";
    
}

<h1>Pilot Practical Templates</h1>

<h3>@ViewBag.displayMessage</h3><br />

@Html.ActionLink("Add New Template", "Create", new { }, new { @class = "button-add" })<br /><br/>

<table>
    <thead>
        <tr>
            <th></th>
            <th>Active</th>
            <th>Tasks</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @{
            var rowNumber = 1;
         }
        @for (int i = 0; i < Model.Templates.Count; i++)
        {
            string rowClass;
            <tr>
                <td>@rowNumber</td>
                <td>
                        @if (Model.Templates[i].IsActive)
                        {
                            <img src="~/Images/on.png" alt="On button" width="56" height="30" />
                            rowClass = "row-highlight";
                        }
                        else
                        {
                            <a href='@Url.Action("Activate", new { templateId = Model.Templates[i].Id })'>
                                <img src="~/Images/off.png" alt="Off button" width="56" height="30" />
                            </a>
                            rowClass = "";
                        }
                    </td>
                <td class="toggle @rowClass"><span>Click to expand Tasks</span><br />
                    <ul class="hidden tasks">
                        @for (int j = 0; j < Model.Templates[i].Tasks.Count; j++)
                        {
                            <li>@Model.Templates[i].Tasks[j].Title</li>
                        }
                    </ul>
                </td>
                <td>
                    @Html.ActionLink("Display", "Display", new { templateId = Model.Templates[i].Id })
                    @if (Model.Templates[i].AllowEditOrDelete)
                    {
                        <text>|</text>
                        @Html.ActionLink("Edit", "Edit", new { templateId = Model.Templates[i].Id })
                        <text>|</text>
                        @Html.ActionLink("Delete", "Delete", new { templateId = Model.Templates[i].Id }, new { @class = "delete" })
                    }
                    
                </td>
            </tr>
            rowNumber++;
        }
    </tbody>
</table>

@section scripts {
    <script src="~/Scripts/administration.js"></script>
}