@model APFTestingUI.Models.Exam.QuestionDisplayItem
@{
    ViewBag.Title = "Question " + (Model.Index + 1);
    Layout = "~/Views/Shared/_QuestionLayout.cshtml";
}

<div class="hidden" id="loading"></div>
<div id="void-popup" class="hidden">
    <div id="void-authentication">
        @using (Html.BeginForm("Void", "Exam", FormMethod.Post, new {}))
        {
            @Html.HiddenFor(m => m.ExamId)
            <label for="void-id">Examiner ID:</label>
            <input type="text" placeholder="Examiner ID" id="void-id"/><br/>
            <label for="void-password">Password:</label>
            <input type="text" placeholder="Password" id="void-password"/><br/>
            <input id="void-confirm" type="submit" value="Confirm" />
            <input id="void-cancel" type="button" value="Cancel" />
        }
    </div>
</div>
<div id="ExamContainer">
    <h2>Jump Pilot Authorisation Exam</h2>
    
    <div id="progress-bar-outer">
        <div id="progress-bar-inner">
            <span class="hidden">@Model.ExamProgress</span>
        </div>
        <div class="clear"></div>
        <span id="progress-bar-start">Start</span>
        <span id="progress-bar-end">End</span>
        <div class="clear"></div>
    </div>

    <hgroup>
        @{
            int questionNumber = Model.Index + 1;   
        }
        <h3 id="question-title">Question @questionNumber:</h3>
        <h4 id="question-description">@Model.Description</h4>
    </hgroup>

@using (Html.BeginForm("SubmitAnswer", "Exam", FormMethod.Post, new { id = "QuestionForm" }))
{
    @Html.HiddenFor(m => m.ExamId)
    @Html.HiddenFor(m => m.Index)
    @Html.HiddenFor(m => m.NavDirection)
    <fieldset>
        @foreach (var answer in Model.Answers)
        {
            <div class="answer-container">
                @if (Model.NumberOfCorrectAnswers == 1)
                {
                    <input id="ChosenAnswer-@answer.DisplayOrderIndex" type="radio" class="answer-radiobutton" name="ChosenAnswer" value="@answer.DisplayOrderIndex" checked="@answer.IsChecked" />
                    <label for="ChosenAnswer-@answer.DisplayOrderIndex" class="answer-description label-radio">@answer.Description</label>
                }
                else
                {
                    <input id="ChosenAnswer-@answer.DisplayOrderIndex" type="checkbox" class="answer-checkbox" name="ChosenAnswer" value="@answer.DisplayOrderIndex" checked="@answer.IsChecked" />
                    <label for="ChosenAnswer-@answer.DisplayOrderIndex" class="answer-description label-checkbox">@answer.Description</label>
                }
                
                
            </div>
        }
    </fieldset>
    <div id="navigation-container">
        @{
            var PreviousHidden = Model.IsFirstQuestion ? "hidden" : "";
            var NextHidden = Model.IsLastQuestion ? "hidden" : "";
            var SummaryHidden = Model.IsLastQuestion ? "" : "hidden";
        
            <input id="PreviousButton" class="button @PreviousHidden" type="button" value="Previous Question" />
            <input id="NextButton" class="button @NextHidden" type="submit" value="Next Question" />

            <input id="SummaryButton" class="button @SummaryHidden" type="button" value="Go to Summary" />
            <span id="mark-for-review">
            @Html.LabelFor(model => model.IsMarkedForReview)
            @Html.CheckBoxFor(model => model.IsMarkedForReview)
            </span>
        }

        <div class="clear"></div>
    </div>
    
}
    
    
</div>

@section scripts
{
    <script src="~/Scripts/exam.js"></script>
}
