@model APFTestingUI.Models.Exam.QuestionDisplayItem
@{
    ViewBag.Title = "Question " + Model.Index;
}

<div id="ExamContainer">
    <h2>Jump Pilot Authorisation Exam</h2>
    
    <hgroup>
        @{
            int questionNumber = Model.Index + 1;   
        }
        <h3>Question @questionNumber:</h3>
        <h4>@Model.Description</h4>
    </hgroup>

@using (Html.BeginForm("SubmitAnswer", "Exam", FormMethod.Post, new { id = "QuestionForm" }))
{
    @Html.HiddenFor(m => m.ExamId)
    @Html.HiddenFor(m => m.Index)
    @Html.HiddenFor(m => m.NavDirection)
    <fieldset>
        <legend>Question</legend>
        @foreach (var answer in Model.Answers)
        {
            <div class="answer-container">
                @if (Model.NumberOfCorrectAnswers == 1)
                {
                    <input type="radio" class="answer-radiobutton" name="ChosenAnswer" value="@answer.DisplayOrderIndex" checked="@answer.IsChecked" />
                }
                else
                {
                    <input type="checkbox" class="answer-checkbox" name="ChosenAnswer" value="@answer.DisplayOrderIndex" checked="@answer.IsChecked" />
                }
                <span class="Answer-Description">@answer.Description</span>
            </div>
        }
    </fieldset>
    <div class="navigation-container">
        <input id="PreviousButton" class="button" type="button" value="Previous Question" />
        <input id="NextButton" class="button" type="submit" value="Next Question" />
        <div class="clear"></div>
    </div>
    
}

</div>

