@model APFTestingUI.Models.Exam.TheoryQuestion
@{
    ViewBag.Title = "DisplayQuestion";
}

<div id="ExamContainer">
    <h2>Jump Pilot Authorisation Exam</h2>
    
    <hgroup>
        <h3>Question @Model.QuestionNumber:</h3>
        <h4>@Model.Description</h4>
    </hgroup>

    <form>
        @foreach (var option in Model.PossibleAnswers)
        {
            <div class="OptionContainer">
                @if (Model.NumCorrectAnswers == 1)
                {
                    <input type="radio" class="Option-Radiobutton" name="SelectedOption" value="@option.Order"/>
                }
                else
                {
                    <input type="checkbox" class="Option-Checkbox" name="SelectedOption" value="@option.Order"/>
                }
                <span class="Option-Description">@option.Description</span>
            </div>
        }
        <input type="submit" value="Next Question" />
    </form>

</div>