@model APFTestingUI.Models.Exam.TheoryComponentSummary

@{
    ViewBag.Title = "FetchSummary";
}

<h2>Theory Component Summary</h2>

<table id="exam-summary">
    <tr>
        <th>Question Number</th>
        <th>Question Description</th>
        <!-- Maybe we dont need this -->
        <th>Selected Answer(s)</th>
        <th>Marked For Review</th>
        <th>Link</th>
    </tr>
    @foreach(var question in Model.Questions)
    {
        var questionNumber = @question.QuestionIndex + 1;
        <tr>
            <td class="index">@questionNumber</td>
            <td class="description">@question.Description</td>
            <!-- Maybe we dont need this -->
            <td class="selected-answer">
                @foreach (var answer in @question.PossibleAnswers.OrderBy(a => a.DisplayOrderIndex))
                {
                    <strong>@answer.DisplayOrderIndex </strong>
                    if (answer.IsChecked)
                    {
                        @answer.Description <br />
                    }
                }
            </td>
            <td class="marked-for-review">@question.IsMarkedForReview</td>
            <td class="review-link">@Html.ActionLink(("Go to " + @questionNumber), "Question", new { examId = @Model.ExamId, questionNumber = @question.QuestionIndex })</td>
        </tr>
    }
</table>

<p><a class="button" href="#">Submit Theory Component</a></p>