@model APFTestingUI.Models.Exam.TheoryComponentResult

@{
    ViewBag.Title = "Exam Result";
}

<hgroup>
    <h2>Theory Component Result</h2>
    <h3>@Model.Message</h3>
</hgroup>

<p>You scored @Model.Score</p>
<p>Please notify your examiner.</p>

@foreach (var question in Model.Questions)
{
    
    int questionNumber = question.Index + 1;   
    
    <h3>@questionNumber: @question.Description</h3>
    foreach (var answer in question.Answers)
    {
        
        if (answer.IsChecked && answer.IsCorrect)
        {
            <p style="color:green">@answer.Description</p>
        } 
        else if (answer.IsChecked && !answer.IsCorrect)
        {
            <p style="color:red">@answer.Description</p>
        }
        else if (!answer.IsChecked && !answer.IsCorrect)
        {
            <p style="color:yellow">@answer.Description</p>
        }
        else
        {
            <p>@answer.Description</p>
        }
        
        
    }
    <hr />
}

<p>@Html.ActionLink("Home", "Index", "Examiner", new {}, new { @class="button" })</p>
