@model APFTestingUI.Models.Exam.TheoryComponentResult

@{
    ViewBag.Title = "Exam Result";
}

<hgroup>
    <h2>Theory Component Result</h2>
    @if (Model.IsCompetent)
    {
        <h3><span class="green">Congratulations!</span> You have passed.</h3>
    }
    else
    {
        <h3>Sorry, you did not pass.</h3>
        
    }
</hgroup>
<p>You scored @{@Model.Score}.</p>
<p>Please notify your examiner.</p>

@foreach (var question in Model.Questions)
{
    
    int questionNumber = question.QuestionIndex + 1;   
    
    <h3>@questionNumber @question.Description</h3>
    foreach (var answer in question.SelectedAnswers)
    {
        
        if (answer.IsChecked && answer.IsCorrect)
        {
            <p style="color:green">@answer.Description</p>
        } 
        else if (answer.IsChecked && !answer.IsCorrect)
        {
            <p style="color:red">@answer.Description</p>
        }
        else if (!answer.IsChecked && !answer.IsCorrect)
        {
            <p style="color:yellow">@answer.Description</p>
        }
        else
        {
            <p>@answer.Description</p>
        }
        
        
    }
    <br />
}
