@model APFTestingUI.Models.Exam.TheoryComponentResult

@{
    ViewBag.Title = "Exam Result";
}

<h1>Exam Result</h1>
<h2>@Model.Message</h2>

<div id="score">You scored @Model.Score</div>
<p id="notify-examiner">Please notify your examiner.</p>

<br/>
<br/>

@foreach (var question in Model.Questions)
{
    var questionNumber = question.Index + 1;   
    
    <div class="result-question">
        <span class="result-question-number @question.NumberClass">@questionNumber</span> 
        <span class="result-question-description">@question.Description</span>
    </div>
    <ul>
    @foreach (var answer in question.Answers)
    {
            if (answer.IsChecked && answer.IsCorrect)
            {
                <li class="result-answer correct">
                    @answer.Description
                </li>
            } 
            else if (answer.IsChecked && !answer.IsCorrect)
            {
                <li class="result-answer incorrect">
                    @answer.Description
                </li>
            }
            else if (!answer.IsChecked && !answer.IsCorrect)
            {
                <li class="result-answer indicate-correct">
                    @answer.Description
                </li>
            }
            else
            {
                <li class="result-answer">
                    @answer.Description
                </li>
            }
    }
    </ul>
    <hr />
}

<p>@Html.ActionLink("Home", "Index", "Examiner", new {}, new { @class="examiner-button", id="result-home"})</p>
