@model APFTestingUI.Models.Exam.QuestionDisplayItem
@{
    ViewBag.Title = "Question " + (Model.Index + 1);
    Layout = "~/Views/Shared/_QuestionLayout.cshtml";
}

<div id="ExamContainer">
    <h2>@Model.ExamTitle</h2>
    
    <hgroup>
        @{
            int questionNumber = Model.Index + 1;   
        }
        <h3>Question @questionNumber</h3>
        <h4>@Model.Description</h4>
    </hgroup>

@using (Html.BeginForm("SubmitAnswer", "Exam", FormMethod.Post, new { id = "QuestionForm" }))
{
    @Html.HiddenFor(m => m.ExamId)
    @Html.HiddenFor(m => m.Index)
    @Html.HiddenFor(m => m.NavDirection)
    <fieldset>
        @foreach (var answer in Model.Answers)
        {
            <div class="answer-container">
                @if (Model.NumberOfCorrectAnswers == 1)
                {
                    <input id="ChosenAnswer-@answer.DisplayOrderIndex" type="radio" class="answer-radiobutton" name="ChosenAnswer" value="@answer.DisplayOrderIndex" checked="@answer.IsChecked" />
                    <label for="ChosenAnswer-@answer.DisplayOrderIndex" class="answer-description label-radio">@answer.Description</label>
                }
                else
                {
                    <input id="ChosenAnswer-@answer.DisplayOrderIndex" type="checkbox" class="answer-checkbox" name="ChosenAnswer" value="@answer.DisplayOrderIndex" checked="@answer.IsChecked" />
                    <label for="ChosenAnswer-@answer.DisplayOrderIndex" class="answer-description label-checkbox">@answer.Description</label>
                }
               
            </div>
        }
    </fieldset>
    <div id="navigation-container" class="review-page">
        <span id="mark-for-review">
            @*@Html.CheckBoxFor(model => model.IsMarkedForReview)*@
            <input type="checkbox" value="true" name="IsMarkedForReview" id="IsMarkedForReview" />
            @Html.LabelFor(model => model.IsMarkedForReview, new { @class="label-mark-for-review" })
            <input type="hidden" value="false" name="IsMarkedForReview" />
        </span>
        <input id="SummaryButton" class="button" type="submit" value="Back to Summary" />
        
        <div class="clear"></div>
    </div>
    
}

</div>

@section scripts 
{
    <script src="~/Scripts/exam.js"></script>
}


