@model APFTestingUI.Models.Exam.TheoryComponentSummary

@{
    ViewBag.Title = "Exam Summary";
    Layout = "~/Views/Shared/_QuestionLayout.cshtml";
}

<div id="void-popup" class="hidden">
    <div id="void-authentication">
        @using (Html.BeginForm("Void", "Exam", FormMethod.Post, new {}))
        {
            @Html.HiddenFor(m => m.ExamId)
            <label for="void-id">Examiner ID:</label>
            <input type="text" placeholder="Examiner ID" id="void-id"/><br/>
            <label for="void-password">Password:</label>
            <input type="text" placeholder="Password" id="void-password"/><br/>
            <input id="void-confirm" type="submit" value="Confirm" />
            <input id="void-cancel" type="button" value="Cancel" />
        }
    </div>
</div>
<div id="summary">
    <h2>Exam Summary</h2>

    <div id="key">
        <ul>
            <li><span id="key-marked">
            <img src="~/Images/arrow.png" alt="arrow" height="24" width="24" />
            = Marked for review</span></li>
            <li><span id="key-unanswered">Unanswered question</span></li>
            <li><p>Click on a question to see question details</p></li>
        </ul>
        
    </div>

    <dl>
        @foreach (var question in Model.Questions)
        {
            var questionNumber = question.Index + 1;
            <dt class="@question.IsMarkedClass@question.IsAnsweredClass">
                <span class="question-title">
                    <span>Question @questionNumber</span>
                    @Html.ActionLink("[ go to question ]", "ReviewQuestion", new { examId = @Model.ExamId, questionIndex = @question.Index })
                </span>

            </dt>
            <dd>@question.Description</dd>
        }
    </dl>

    <br />
    <div class="clear"></div>
    @Html.ActionLink("Submit Exam", "Submit", new { examId = @Model.ExamId }, new { @class = "button" })
    <div class="clear"></div>
</div>


@section scripts
{
    <script src="~/Scripts/summary.js"></script>
    <script src="~/Scripts/exam.js"></script>
}
