@model APFTestingUI.Models.Exam.TheoryComponentSummary

@{
    ViewBag.Title = "Exam Summary";
}

<h2>Exam Summary</h2>

<table id="exam-summary">
    <tr>
        <th class="index">Question Number</th>
        <th class="description">Question Description</th>
        <th class="question-answered">Question Answered</th>
        <th class="marked-for-review">Marked For Review</th>
    </tr>
    @foreach(var question in Model.Questions)
    {
        var questionNumber = question.Index + 1;
        <tr>
            <td class="index">@questionNumber</td>
            <td class="description">@Html.ActionLink(question.Description, "Review", new { examId = @Model.ExamId, questionNumber = @question.Index })</td>
            <td class="question-answered">
                @if (question.IsAnswered)
                {
                    <img src="/Content/images/tick.png" alt="tick" />
                }
                else
                {
                    <img src="/Content/images/cross.png" alt="cross" />
                }
            </td>
            <td class="marked-for-review">
                @if (question.IsMarkedForReview)
                {
                    <img src="/Content/images/tick.png" alt="tick" />
                }
            </td>
        </tr>
    }
</table>


<p>@Html.ActionLink("Submit Exam", "Submit", new { examId = @Model.ExamId }, new { @class = "button" })</p>

