@model APFTestingUI.Models.Exam.TheoryComponentSummary

@{
    ViewBag.Title = "Exam Summary";
}

<h2>Exam Summary</h2>

<table id="exam-summary">
    <tr>
        <th>Question Number</th>
        <th>Question Description</th>
        <th>Question Answered</th>
        <th>Marked For Review</th>
        <th>Link</th>
    </tr>
    @foreach(var question in Model.Questions)
    {
        var questionNumber = question.Index + 1;
        <tr>
            <td class="index">@questionNumber</td>
            <td class="description">@question.Description</td>
            <td class="question-answered">
                @question.IsAnswered
            </td>
            <td class="marked-for-review">@question.IsMarkedForReview</td>
            <td class="review-link">@Html.ActionLink(("Go to " + @questionNumber), "Question", new { examId = @Model.ExamId, questionNumber = @question.Index })</td>
        </tr>
    }
</table>

<p><a class="button" href="#">Submit Exam</a></p>