@model APFTestingUI.Models.Exam.TheoryComponentInstructions

@{
    ViewBag.Title = "Instructions";
    Layout = "~/Views/Shared/_Layout.cshtml";
}



<div id="ExamContainer">
    
    <h2>Instructions</h2>

    <ul>
        <li>The exam consists of @Model.NumberOfQuestions questions.</li>
        <li>You will have a time limit of @Model.TimeLimit minutes to complete the exam.</li>
        <li>You will need a score of @Model.PassMark in order to pass.</li>
        <li>Each question has only one correct answer <strong><em>UNLESS</em></strong> stated otherwise in the question.</li>
        <li>You may mark questions for review</li>
        <li>Once all questions have been answered a summary page will be displayed. From here you can go back and alter any answer, and marked questions will be highlighted.</li>
        <li>Good luck!</li>
    </ul>

    <p>@Html.ActionLink("Start Exam", "FirstQuestion", new { examId = @ViewBag.ExamId }, new { @class = "button"})</p>
    <p><strong style="color:red;">Remove</strong> @Html.ActionLink("Exam Summary", "Summary", new { examId = @ViewBag.ExamId }) @Html.ActionLink("Exam Result", "Result", new { examId = @ViewBag.ExamId })</p>

</div>
