@model APFTestingUI.Areas.Administration.Models.ExaminerManagement.EditExaminer

@{
    ViewBag.Title = "Edit Examiner";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Edit Examiner</h1>

@using (Html.BeginForm()) {
    @Html.ValidationSummary(false)
    @Html.AntiForgeryToken()

    <fieldset>
        <legend>Create</legend>
        
        <div class="editor-label">
            @Html.LabelFor(model => model.APFNumber)
        </div>
        <div class="editor-field" style="font-size: 1.3em">
            @Html.DisplayFor(model => model.APFNumber)
        </div>
        <div class="clear"></div>
        <br/>

        <div class="editor-label">
            @Html.LabelFor(model => model.FirstName)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.FirstName)
        </div>
        <div class="clear"></div>

        <div class="editor-label">
            @Html.LabelFor(model => model.LastName)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.LastName)
        </div>
        <div class="clear"></div>

        

        <div class="editor-label">
            @Html.LabelFor(model => model.OldPassword)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.OldPassword)
        </div>
        <div class="clear"></div>

        <div class="editor-label">
            @Html.LabelFor(model => model.NewPassword)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.NewPassword)
        </div>
        <div class="clear"></div>

        <div class="editor-label">
            @Html.LabelFor(model => model.ConfirmPassword)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.ConfirmPassword)
        </div>
        <div class="clear"></div>

        <div class="editor-label">
            @Html.LabelFor(model => model.ExaminerPilot)
        </div>
        <div class="editor-field">
            @Html.CheckBoxFor(model => model.ExaminerPilot)
        </div>
        <div class="clear"></div>

        <div class="editor-label">
            @Html.LabelFor(model => model.ExaminerPacker)
        </div>
        <div class="editor-field">
            @Html.CheckBoxFor(model => model.ExaminerPacker)
        </div>
        <div class="clear"></div>

        <p class="button-container">
            <span class="control-button-span">
                @Html.ActionLink("Cancel", "Index", new { }, new { @class = "form-button" })
                <input type="submit" value="Edit" class="form-button" />
            </span>
        </p>
    </fieldset>
}


@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}

