@model APFTestingUI.Models.Examiner.Index

@{
    ViewBag.Title = "Examiner Home";
}

<hgroup>
<h1>Hello Grahame!</h1>
<h3>Welcome to the Examiner home page!</h3>
</hgroup>


<a href="#" class="button-add">Add Candidate</a>

<hr />

<table id="candidate-list">
    <thead>
        <tr>
            <th>First Name</th>
            <th>Last Name</th>
            <th>Theory Exam</th>
            <th colspan="2">Practical Exam</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var candidate in Model.Candidates)
        {
            <tr class="candidate-list-item">
                <td class="candidate-first-name">
                    @candidate.FirstName
                </td>
                <td class="candidate-last-name">
                    @candidate.LastName
                </td>
                <td class="start-theory-link">
                    
                    @if (candidate.ExamNullOrCreated)
                    {
                        <button class="examinerButton" type="button" onclick="window.location.assign('@Url.Action("Instructions", "Exam", new { examinerId = Model.ExaminerId, candidateId = candidate.Id })')">
                            Start Exam
                        </button>
                    }
                    else if (candidate.TheoryComponentInProgress)
                    {
                        <button class="examinerButton" type="button" onclick="window.location.assign('@Url.Action("Resume", "Exam", new { examId = candidate.LatestExamId })')">
                            Resume Exam
                        </button>
                    }
                    else if (candidate.TheoryComponentFailed)
                    {
                        <button class="examinerButton" type="button" onclick="window.location.assign('@Url.Action("Instructions", "Exam", new { examinerId = Model.ExaminerId, candidateId = candidate.Id })')">
                            Retake Exam
                        </button>
                    }
                    
                </td>
                <td class="input-practical-link">
                    <button class="examinerButton" type="button" onclick="window.location.assign('#')">Input Practical Results</button>
                </td>
                <td class="reset-cell"><button id="reset" class="examinerButton" type="button">Reset Exam</button></td>
            </tr>
        }
    </tbody>
</table>

