@model APFTestingUI.Models.Examiner.Index

@{
    ViewBag.Title = "Examiner Home";
}

<hgroup>
<h1>Hello @ViewBag.ExaminerName!</h1>
</hgroup>

<p class="add-candidates-container">
@if (Model.PilotAuthorised)
{
    @Html.ActionLink("Add Pilot Candidate", "CreatePilot", "Candidate", new { }, new { @class="button-add" })
}



@if (Model.PackerAuthorised)
{
    @Html.ActionLink("Add Packer Candidate", "CreatePacker", "Candidate", new { }, new { @class="button-add" })
}
</p>

<div id="candidate-list-wrapper-pilot" class="candidate-list-wrapper">
@if (Model.PilotCandidates.Count() > 0)
{
    <h2>Pilot Candidates</h2>
    <table id="candidate-list-pilot" class="candidate-list">
        <thead>
            <tr>
                <th>Name</th>
                <th class="th-theory-exam" colspan="2">Theory Exam</th>
                <th class="th-practical-exam" colspan="2">Practical Exam</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var candidate in Model.PilotCandidates)
            {
                var candidateName = candidate.FirstName + " " + candidate.LastName;
                <tr class="candidate-list-item">
                    <td class="candidate-name">
                        @Html.ActionLink(candidateName, "ViewPilot", "Candidate", new { candidateId = candidate.Id }, new { })  
                    </td>
                    <td class="start-theory-link">
                    
                        @if (candidate.ExamNullOrCreated)
                        {
                            @Html.ActionLink("Start Exam", "Start", "Exam", new { examinerId = Model.ExaminerId, candidateId = candidate.Id }, new { @class = "examiner-button" })
                        }
                        else if (candidate.TheoryComponentInProgress)
                        {
                            @Html.ActionLink("Resume Exam", "Resume", "Exam", new { examId = candidate.LatestExamId }, new { @class = "examiner-button" })
                        }
                        else if (candidate.TheoryComponentFailed || candidate.ExamVoided)
                        {
                            @Html.ActionLink("Retake Exam", "Start", "Exam", new { examinerId = Model.ExaminerId, candidateId = candidate.Id }, new { @class = "examiner-button" })
                        }
                        else if (candidate.TheoryPassed)
                        {
                            <p>Theory completed</p>                            
                        }
                    </td>
                    <td class="view-results-link">
                        @if (candidate.TheoryPassed || candidate.TheoryComponentFailed)
                        {
                            @Html.ActionLink("View Results", "Result", "Exam", new { examId = candidate.LatestExamId }, new { @class = "examiner-button" })
                        }
                    </td>
                    <td class="input-practical-link">
                        @if (candidate.PracticalEntered)
                        {
                            <p>Practical completed</p>    
                        } 
                        else if (candidate.TheoryPassed)
                        {
                            @Html.ActionLink("Input Results", "PilotInput", "Practical", new { examId = candidate.LatestExamId, candidateId = candidate.Id }, new { @class = "examiner-button" })
                        }
                    </td>
                    <td class="reset-cell">
                        @Html.ActionLink("Reset", "Reset", "Reset", new { examId = candidate.LatestExamId }, new {})
                        @if(candidate.PracticalEntered)
                        {
                            <br />
                            @Html.ActionLink("Finalise Exam", "ViewPilotExamResults", "CompletedExam", new { candidateId = candidate.Id, examId = candidate.LatestExamId, examType = APFTestingModel.ExamType.PackerExam }, new { })
                        }
                    </td>
                </tr>
            }
        </tbody>
    </table>
}
</div>

<div id="candidate-list-wrapper-packer" class="candidate-list-wrapper">
@if (Model.PackerCandidates.Count() > 0)
{
    <h2>Packer Candidates</h2>
    <table id="candidate-list-packer" class="candidate-list">
        <thead>
            <tr>
                <th>Name</th>
                <th colspan="2" class="th-theory-exam">Theory Exam</th>
                <th colspan="2" class="th-practical-exam">Practical Exam</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var candidate in Model.PackerCandidates)
            {
                var candidateName = candidate.FirstName + " " + candidate.LastName;
                <tr class="candidate-list-item">
                    <td class="candidate-name">
                        @Html.ActionLink(candidateName, "ViewPacker", "Candidate", new { candidateId = candidate.Id }, new { })
                    </td>
                    <td class="start-theory-link">
                    
                        @if (candidate.ExamNullOrCreated)
                        {
                            @Html.ActionLink("Start Exam", "Start", "Exam", new { examinerId = Model.ExaminerId, candidateId = candidate.Id }, new { @class = "examiner-button" })
                        }
                        else if (candidate.TheoryComponentInProgress)
                        {
                            @Html.ActionLink("Resume Exam", "Resume", "Exam", new { examId = candidate.LatestExamId }, new { @class = "examiner-button" })
                        }
                        else if (candidate.TheoryComponentFailed || candidate.ExamVoided)
                        {
                            @Html.ActionLink("Retake Exam", "Start", "Exam", new {examinerId = Model.ExaminerId, candidateId = candidate.Id}, new {@class = "examiner-button"})
                        }
                        else if (candidate.TheoryPassed)
                        {
                            <p>Theory completed</p>            
                        }
                    </td>
                    <td class="view-results-link">
                        @if (candidate.TheoryPassed || candidate.TheoryComponentFailed)
                        {
                            @Html.ActionLink("View Results", "Result", "Exam", new { examId = candidate.LatestExamId }, new { @class = "examiner-button" })
                        }
                    </td>
                    <td class="input-practical-link">
                        @if (candidate.PracticalEntered)
                        {
                            <p>Practical completed</p>  
                        }
                        else if (candidate.TheoryPassed)
                        {
                            @Html.ActionLink("Input Results", "PackerView", "Practical", new { examId = candidate.LatestExamId }, new { @class = "examiner-button" })
                        }
                    </td>
                    
                    <td class="reset-cell">
                        @Html.ActionLink("Reset", "Reset", "Reset", new { examId = @candidate.LatestExamId }, new {})
                        @if (candidate.PracticalEntered)
                        {
                            <br />
                            @Html.ActionLink("Finalise Exam", "ViewPackerExamResults", "CompletedExam", new { candidateId = candidate.Id, examId = candidate.LatestExamId, examType = APFTestingModel.ExamType.PackerExam }, new { })
                        }
                    </td>
                </tr>
            }
        </tbody>
    </table>
}
</div>