@model APFTestingUI.Models.CompletedExam.ExamDetailsPacker

@{
    ViewBag.Title = "Packer Exam Summary";
}

<h2>Packer Exam Summary</h2>

<fieldset>
    <legend>Packer Details</legend>
    @Html.HiddenFor(m => m.ExamId)
    <div class="display-label">
         @Html.DisplayNameFor(model => model.APFNumber)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.APFNumber)
    </div>
    <div class="clear"></div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.FirstName)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.FirstName)
    </div>
    <div class="clear"></div>


    <div class="display-label">
         @Html.DisplayNameFor(model => model.LastName)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.LastName)
    </div>
    <div class="clear"></div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Mobile)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Mobile)
    </div>
    <div class="clear"></div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.TheoryScore)
    </div>
    <div class="display-field">
        @String.Format("{0:N0}%", Model.TheoryScore * 100)
    </div>
    <div class="clear"></div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.HasPassedTheory)
    </div>
    <div class="display-field">
        @if (@Model.HasPassedTheory)
        {
            @:Yes
        }
        else
        {
            @:No
        }
    </div>
    <div class="clear"></div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.HasPassedPractical)
    </div>
    <div class="display-field">
        @if (@Model.HasPassedPractical)
        {
            @:Yes
        }
        else
        {
            @:No
        }
    </div>
    <div class="clear"></div>

</fieldset>
<p>
    @Html.ActionLink("Submit", "SubmitPackerExamResults", new {  examId = Model.ExamId }) |
    @Html.ActionLink("Back to List", "Index", "Examiner")
</p>
